<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>See code:</strong>
    <%= project.see_code %>
  </p>

  <p>
    <strong>Live version:</strong>
    <%= project.live_version %>
  </p>

  <p>
    <strong>Main img:</strong>
    <%= project.main_img %>
  </p>

  <p>
    <strong>Secondary img:</strong>
    <%= project.secondary_img %>
  </p>

</div>
